<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<<<<<<< HEAD
    <div class="container text-right mb-2">
        <span class="chatPop" onclick="displaychat()" id="popup">
            <i class="fas fa-comment-dots" style="font-size:50px; color: #e8daed; filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.5))"></i>
        </span>
    </div>
=======
    <span class="chatPop" onclick="displaychat()" id="popup"><i class="fa fa-comments" aria-hidden="true"></i></span>
>>>>>>> 6747e588fbaaf187379393d5a0ff4d2f1d75d0d0
    <div class="chat-container">   
        <div class="allcontainer" id="chatcontainer">
            <div class="container min-max-btn" id="min-max-container">
                <i  onclick="hidechat()" id="minbtn" class="fa fa-window-minimize" aria-hidden="true"></i>
             </div>
        <div class="chat-header">
            <div class="logo" style="margin-right: 15%;">
                <i class="fa fa-comments" style="font-size: 30px;" aria-hidden="true"></i>
                <h3>Community Chat</h3>
            </div>
            <p id="your-name" style="color: red;font-size: 12px;margin-top: 20px;"><input class="form-control-sm form-control" type="text" name="msg" id="nickText" placeholder="Name please..">*
            <button id="nick" class="btn btn-success" style="cursor: pointer;margin-top: 5px;">Start Chat</button></p><br>
                
        </div>
        
        <h5>Active <i class="fa fa-users" aria-hidden="true"></i>  <b id="usersNo"></b></h5>
<!-- ---------------------------------------------------- -->
        <div class="chat-section">
            <div class="main-wrapper">
                <div class="chat-content">
                    <div class="message p-3">
                        <textarea class="tArea" id="chat-area" placeholder=" Welcome to Group Discussion. Please give your name to join chat" readonly disabled></textarea>
                    </div>

                </div>
 <!-- ------------------------------------------------------ -->
                <div class="msg-text px-3 mb-3" >
                    <input type="text" name="msg" id="chatText"
                    placeholder="Type Message Here...." autocomplete="off" class="mr-3">
                    <button id="chat" class="btn btn-primary" onclick="areascroll()" >
                        <i class="fas fa-paper-plane"> Send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
<script>
    var socket =io.connect()

    socket.on('chat',(data)=>{

        var p1 = (data.nick+"(From "+data.location+" "+data.time+")"+" :")
        var p2 = (data.message)
        var msg = p1+p2
        $('textarea').val($('textarea').val()+msg+'\n')
        
    })
        
    $(function(){
        $('#nick').on('click',function(){ 
        socket.emit('nick',$('#nickText').val())
        //clear input after start chat
        $('#nickText').val('')
        }) 

        $('#chat').on('click',function(){
        
            socket.emit('chat', {message:$('#chatText').val()})
            
            socket.on('userList',(users)=>{
            document.getElementById('usersNo').innerHTML=users.length
            //clear input after sending chat
            $('#chatText').val('')
            })
        })

    })



    //To scroll at the bottom for chat box on click of send button
   var textarea = document.getElementById('chat-area');
    function areascroll(){
    textarea.scrollTop = textarea.scrollHeight;
    textarea.scrollBottom = textarea.scrollHeight;
    };

    //lets user send msg with enter
    $('#chatText').keypress(function(e){
        if(e.which == 13){
            $('#chat').click();
        }
    })

    function displaychat(){
        var a = document.getElementById('chatcontainer')
            a.style.display = 'block'
        hidepop()
    }

    function hidechat(){
        var a = document.getElementById('chatcontainer')
            a.style.display = 'none'
        showpop()
    }

    $(function(){
        var a = document.getElementById('chatcontainer')
         document.getElementById('popup').style.visibility = 'visible'
    })

    function hidepop(){
        var a = document.getElementById('chatcontainer')
         document.getElementById('popup').style.visibility = 'hidden'
    }

    function showpop(){
        var a = document.getElementById('chatcontainer')
         document.getElementById('popup').style.visibility = 'visible'
    }

</script>

</html>