<!DOCTYPE html>
<html>

<head>
    <%- include ('./partials/header') %>
</head>

<body>
    <h2 class="text-center"> About us </h2>




    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card booking-card">
                        <div class="view overlay">
                            <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>


                        <iframe class=" col-md-16 px-4 py-4 mx-auto" width="860" height="500" frameborder="0"
                            style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBMUyyOKjK_8FL5fiVdPh_C3AnQAxxMZak&q=Eiffel+Tower,Paris+France">
                        </iframe>


                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card booking-card">
                        <div class="view overlay">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <p>This is going to be our about us description</p>

                    </div>
                </div>
            </div>

        </div>
    </div>




    <!-- <div class=" col-md-16 px-4 py-4 mx-auto">
    <div class="col-xs-4">
    22 years ago, I started Internet Marketing Ninjas and today we employ nearly 50 Ninjas totaling 450 years experience across the team. We specialize in creating and marketing content that earns trusted backlinks, better rankings, and more SEO traffic for our clients.
    </div>
</div> -->



</body>
<%- include ('./partials/footer') %>

</html>