<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/header') %> 
</head> 
<body> 
    <div class="container mt-5" style="height:600px">
        <div class="row h-100">
            <div class="col-6 h-100">
                 <%- include ('./partials/map') %> 
            </div>
        </div>
    </div>
</body> 
<%- include ('./partials/footer') %> 
</html>