<!DOCTYPE html> 
<html> 
    <head> 
    <%- include ('./partials/admin_header') %> 
    </head> 

    <body> 
    </h2> Your Email Id is <%=user.email%>
    </body> 
    
    <%- include ('./partials/footer') %> 
</html>