<!DOCTYPE html> 
<html> 
    <head> 
    <%- include ('./partials/admin_header') %> 
    </head> 
    <body> 
        </h2> Welcome, <%=user.name%>
    </body>  
    <%- include ('./partials/footer') %> 
</html>