<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/header') %> 
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <h3>Contact Us</h3>
        </div>
        <div class="row mt-5">

            <div class=" col-md-12 px-4 py-4 mx-auto">
                <form action="/post" method="post">
                    <label for="team_name">Enter name: </label>
                    <input class="form-control" id="team_name" type="text" name="name_field"
                        placeholder="What is your name?">

                    <label for="team_email">Email: </label>
                    <input class="form-control " id="team_email" type="email" name="email_field"
                        placeholder="Where should we respond to?">
                    <label for="team_address">Query: </label>
                    <textarea class="form-control" id="team_address" type="text" name="address_field"
                        placeholder="What do you want to ask?" style="height:200px"></textarea>

                    

                    <button class=" btn btn-primary btn-block mt-5" type="submit" style="border-radius:500px">Submit</button>
                </form>
            </div>

        </div>

    </div>

</body>



<%- include ('./partials/footer') %> 
</html>