<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/header') %> 
</head> 
<body> 
 <h1>index</h1> 
</body>
<div class="chatbox-div-index">
<%- include ('./partials/chatbox') %> </div>
<%- include ('./partials/footer') %> 
</html>