<!DOCTYPE html> 
<html> 
<head> 
<%- include ('./partials/header') %> 
</head> 
<body> 
 <h1>index</h1>

 <%- include ('./partials/sports_partial', {news:news}) %>
</body> 
<%- include ('./partials/footer') %> 
</html>